/* Init */
:root {
  --primary-color-black-green: #143c3c;
  --primary-color-black: #152427;
  --secondary-light-green: #e2eddf;
  --text-color-black-gray: #575d5e;
  --text-color-light-gray: #7d8188;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  color: var(--primary-color-black);
}

/* Common */
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  color: var(--text-color-black-gray);
  text-decoration: none;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 999px;
  background-color: var(--primary-color-black-green);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  transition: 0.1s;
}

.btn:hover {
  opacity: 0.85;
}

.section-name {
  margin-left: 46px;
  position: relative;
  color: var(--primary-color-black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.section-name::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 36%;
  left: -46px;
  width: 25px;
  height: 1px;
  background-color: var(--primary-color-black);
}

.section-heading {
  position: relative;
  color: var(--primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.section-heading::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 66px;
  height: 2px;
  top: 75%;
  background-color: var(--primary-color-black);
}

.desc {
  color: var(--text-color-light-gray);
  font-weight: 500;
  line-height: 1.71;
}

/* Header */
.header {
  font-family: "Public Sans", sans-serif;
  padding-top: 28px;
}

/* Header top */

.header-top__inner {
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}

.navbar__list {
  display: flex;
  column-gap: 38px;
  margin-left: 406px;
}

.navbar__item {
  padding: 6px 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155%;
  transition: 0.15s;
}

.navbar__item:hover,
.navbar__item--active {
  text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active {
  position: relative;
}

.navbar__item--active::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  position: absolute;
  bottom: -27px;
  left: 0;
  background-color: var(--primary-color-black-green);
}

.header-top__btn {
  margin-left: auto;
}

.header-top__strike-through {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    18deg,
    #fff 0%,
    #dddcdc 51.25%,
    rgba(212, 212, 212, 0) 100%
  );
}

/* Hero */
.hero {
  padding-bottom: 87px;
}

.hero__inner {
  display: flex;
  column-gap: 66px;
}

/* Hero content */
.hero__content {
  margin-top: 103px;
}

.hero__heading {
  max-width: 368px;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__desc {
  margin-top: 20px;
  max-width: 341px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.hero__cta-group {
  margin-top: 32px;
  display: flex;
  align-items: center;
  column-gap: 26px;
}

.hero__watch-video {
  display: flex;
  column-gap: 15px;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-color-black);
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  border-radius: 999px;
  transition: 0.25s;
}

.hero__half-border-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--primary-color-black);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  transition: 0.4s;
}

.hero__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #83a17d;
  transform: rotate(45deg);
  transition: 0.4s;
}

.hero__watch-video:hover {
  cursor: pointer;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.hero__watch-video:hover .hero__half-border-circle {
  transform: rotate(135deg);
}

.hero__watch-video:hover .hero__icon {
  transform: rotate(-135deg);
}

/* Hero media */
.hero__media {
  position: relative;
  width: 646px;
  margin-top: 60px;
}

.hero__images {
  display: flex;
  column-gap: 20px;
}

.hero__image {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero__image:nth-child(2) {
  margin-top: 77px;
}

.hero__media--background {
  z-index: -1;
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.hero__media__flower-decor--left,
.hero__media__flower-decor--right,
.hero__media__rope--left,
.hero__media__rope--right {
  position: absolute;
}

.hero__media__flower-decor--left {
  top: -25px;
  left: -192px;
  width: 72.033px;
  height: 72px;
  transform: rotate(9.392deg);
}

.hero__media__rope--left {
  top: -32px;
  left: -153px;
}

.hero__media__flower-decor--right {
  bottom: -34px;
  right: 9px;
  width: 72.033px;
  height: 72px;
  transform: rotate(-174.659deg);
}

.hero__media__rope--right {
  bottom: -61px;
  right: 56px;
  transform: rotate(175.95deg);
}

/* Client */
.client {
  margin: 42px 0 53px;
}

.client__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 77px 122px;
  width: 100%;
  height: 201px;
  background-color: var(--secondary-light-green);
  border-radius: 100px;
}

.agworld-icon {
  margin-right: 11px;
}

/* Service */
.service {
  margin-top: 103px;
  padding-bottom: 57px;
}

.service__row {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__heading {
  max-width: 520px;
}

.service__heading::after {
  right: 103px;
}

.control-group {
  display: flex;
  column-gap: 17px;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-light-green);
  width: 54px;
  height: 54px;
  border: none;
  outline: none;
  border-radius: 50%;
  color: var(--primary-color-black);
  transition: 0.2s;
}

.control-btn:last-child {
  transform: rotate(180deg);
}

.control-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color-black-green);
  color: #fff;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  margin-top: 76px;
}

.service-item,
.service-item__thumb,
.service-item__content {
  transition: 0.25s;
}

.service-item {
  border-radius: 20px;
  overflow: hidden;
}

.service-item__image {
  overflow: hidden;
}

.service-item__thumb {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  overflow: hidden;
}

.service-item__content {
  padding: 24px 0;
}

.service-item__heading {
  color: var(--primary-color-black);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.service-item__desc {
  max-width: 268px;
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.71;
}

.service-item:hover {
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__content {
  padding-left: 18px;
}

.service-item:hover .service-item__thumb {
  transform: scale(1.15) translateX(20px);
}

/* About */
.about {
  margin-top: 100px;
  padding-bottom: 39px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

/* About media */
.about-media {
  position: relative;
  width: 51%;
}

.about-media__images {
  display: flex;
  column-gap: 21px;
}

.about-media__image {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-media__image:first-child {
  margin-top: 90px;
}

.about-media__image:last-child {
  margin-top: 13px;
}

.about-media__info {
  width: 143px;
  height: 144px;
  padding: 19px 22px 12px 17px;
  position: absolute;
  bottom: 8px;
  right: -9px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-media__heading {
  color: var(--primary-color-black);
  font-family: "Public Sans";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.about-media__desc {
  margin-top: 6px;
  color: var(--text-color-black-gray);
  font-family: "Public Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  opacity: 0.4;
}

.about-media__percent {
  margin-top: 10px;
}

.about-media__percent--desc {
  display: block;
  color: var(--primary-color-black);
  font-family: "Public Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.about-media__percent--desc:last-child {
  text-align: right;
}

.about-media__percent-bar {
  margin: 3px 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #eaeaea;
  background-image: linear-gradient(to right, #83a17d 40%, #eaeaea 0%);
}

.about-media__layer-circle {
  margin-top: 3px;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color-black-green);
  border: 3.5px solid #eaeaea;
  border-radius: 50%;
}

.about-media__team {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-media__team--desc {
  color: var(--primary-color-black);
  font-family: "Public Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.about-media__avatar-group {
  display: flex;
}

.about-media__avatar {
  margin-left: -6px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about-media__flower-decor,
.about-media__rope {
  position: absolute;
}

.about-media__flower-decor {
  width: 72px;
  height: 72px;
  top: -18px;
  left: 46px;
  transform: rotate(176.985deg);
}

.about-media__rope {
  top: 32px;
  left: 46px;
  transform: rotate(12.645deg);
}

/* About content */
.about-content {
  width: 42.1%;
}

.about__heading {
  margin-top: 20px;
  max-width: 483px;
}

.about__heading::after {
  content: none;
}

.about__desc {
  margin-top: 11px;
  max-width: 478px;
  line-height: 1.62;
}

.about-content__percent {
  margin-top: 36px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about-content__percent:last-child {
  margin-top: 38px;
}

.about-content__percent::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #83a17d;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-content__percent--number {
  color: var(--primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.about-content__percent--desc {
  max-width: 364px;
  color: var(--text-color-light-gray);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* Process */
.process {
  margin-top: 40px;
  padding-bottom: 48px;
}

.process__heading {
  margin-top: 20px;
  max-width: 477px;
}

.process__heading::after {
  right: -9px;
}

.process__list {
  margin-top: 81px;
  height: 505px;
}

/* Process item common */
.process-item {
  max-height: 185px;
  width: 1131px;
  padding: 54px 41px 21px 20px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #83a17d;
}

.process-item__step {
  width: 109px;
  color: var(--primary-color-black-green, #143c3c);
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 72%;
}

.process-item__heading {
  margin-left: 47px;
  color: var(--primary-color-black, #152427);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.process-item__desc {
  max-width: 572px;
  margin-left: auto;
  color: var(--text-color-light-gray, #7d8188);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.process-item:hover {
  width: 100%;
  padding: 54px 41px 54px 30px;
  border: none;
  border-radius: 33px;
  background: var(--secondary-light-green);
}

/* Process item 01 */
.process-item__image {
  width: 450px;
  height: 444px;
  object-fit: cover;
  object-position: right;
  position: absolute;
  bottom: -24px;
  left: 598px;
}

.process-item__more {
  display: inline-block;
  margin: 22px 0 0 47px;
  color: var(--text-color-black-gray, #575d5e);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: underline;
}

.process-item__image--blur {
  width: 163px;
  height: 24px;
  position: absolute;
  bottom: 37px;
  right: 349px;
  background: #fff;
  filter: blur(2px);
}

.process-item:first-child:hover .process-item__image--blur {
  background: #e2eddf;
}

/* Transition smooth */
.process-item,
.process-item__image--blur {
  transition: 0.25s;
}

/* Project */
.project {
  margin-top: 100px;
  padding: 116px 130px 63px;
  background: var(--primary-color-black-green);
}

.project__content {
  display: flex;
  justify-content: space-between;
}

.project__heading {
  max-width: 457px;
  color: #e7f9f9;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.project__heading::after {
  background-color: #83a17d;
  right: 97px;
}

.project__desc {
  max-width: 570px;
  color: var(--scondery-color-gray, #6a8383);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.project__cta {
  margin-top: 13px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: 0.25s;
}

.project__cta:hover {
  column-gap: 26px;
}

.project__browse-all {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.project__arrow {
  color: #80a07b;
  transform: rotate(180deg);
}

.project-video {
  margin-top: 65px;
  position: relative;
}

.project-video__thumb {
  width: 100%;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
  opacity: 0.5;
  transition: 0.25s;
}

.project-video__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 118px;
  border-radius: 999px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.25s;
}

.project-video:hover {
  cursor: pointer;
}

.project-video:hover .project-video__thumb {
  opacity: 1;
}

.project-video:hover .project-video__btn {
  cursor: pointer;
  opacity: 0.9;
  background-color: #fff;
  color: #000;
}

/* Feature */
.feature {
  margin-top: 140px;
  padding-bottom: 84px;
}

.feature__heading,
.feature__desc {
  text-align: center;
  margin: auto;
}

.feature__heading {
  max-width: 520px;
}

.feature__heading::after {
  content: none;
}

.feature__desc {
  margin-top: 20px;
  max-width: 547px;
  line-height: 1.62;
}

.feature-list {
  margin-top: 44px;
  height: 421px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
}

.feature-item {
  padding: 60px 40px;
  width: 100%;
  height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  text-align: center;
  transition: 0.25s;
}

.feature-item:first-child,
.feature-item:last-child {
  margin-top: 59px;
}

.feature-item:hover {
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__name {
  margin-top: 23px;
  color: var(--primary-color-black);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.feature-item__desc {
  margin-top: 12px;
  max-width: 264px;
  color: var(--text-color-light-gray);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
}

/* Blog */
.blog {
  margin-top: 100px;
  padding-bottom: 52px;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.blog__heading {
  max-width: 520px;
}

.blog__heading::after {
  right: -39px;
}

.blog__desc {
  max-width: 409px;
}

.blog-list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.blog-item {
  height: 521px;
  border-radius: 40px 40px 20px 20px;
  background: var(--text-color-white, #fff);
  overflow: hidden;
  transition: 0.25s;
}

.blog-item:hover {
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item__thumb {
  width: 100%;
  height: 317px;
  display: block;
  object-fit: cover;
  opacity: 0.6;
  transition: 0.25s;
}

.blog-item:hover .blog-item__thumb {
  opacity: 1;
}

.blog-item__wrap {
  padding: 26px 14px 12px 0;
  transition: 0.25s;
}

.blog-item:hover .blog-item__wrap {
  padding-left: 30px;
  padding-right: 33px;
}

.blog-item__content {
  padding-bottom: 38px;
  border-bottom: 1px solid #c4c4c4;
}

.blog-item:hover .blog-item__content {
  padding-bottom: 9px;
}

.blog-item__btn {
  --height: 26px;
  min-width: 107px;
  background-color: var(--secondary-light-green);
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.25s;
}

.blog-item__btn:hover {
  background-color: #143c3c;
  color: var(--secondary-light-green);
}

.blog-item__heading {
  margin-top: 13px;
  max-width: 346px;
  color: var(--primary-color-black-green);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.blog-item__date {
  display: block;
  margin-top: 16px;
  text-align: right;
  color: var(--text-color-black-gray);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
